.CardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 40px;
  margin: auto;
}

.card-container {
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card-container:hover {
  transform: rotateZ(-10deg);
}

.card-container img {
  display: block;
  width: 100%;
  height: auto;
}

.card-name {
  background-color: rgba(128, 128, 128, 0.8); 
  padding: 10px;
  text-align: center;
}

.card-name h1 {
  margin: 0;
  color: white;
  font-size: 1.2em;
}

.card-container a {
  text-decoration: none;
}
 
@media (max-width: 1150px) {
  .card-container {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 600px) {
  .card-container {
    flex: 1 1 100%;  
  }
}
